<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Portal4edu.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>61A71095FEA1EA2B3B1BB7F1571013F8BCFA0EEE</string>
				<key>dateExpires</key>
				<string>2/11/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>61A71095FEA1EA2B3B1BB7F1571013F8BCFA0EEE</string>
						<key>dateExpires</key>
						<string>2/11/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>R728VT7UHH.org.reactjs.native.example.Portal4edu.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>R728VT7UHH</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.org.reactjs.native.example.Portal4edu.onesignal</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3da1c205-f7bb-4985-bf01-0d40e24cac1c</string>
						<key>name</key>
						<string>Portal4edu_AdHoc_NotificationServiceExtension</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R728VT7UHH</string>
						<key>name</key>
						<string>Hien Pham</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R728VT7UHH.org.reactjs.native.example.Portal4edu</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R728VT7UHH</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.org.reactjs.native.example.RNNotificationOneSignal.onesignal</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Portal4edu.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1cbf1767-99a3-4787-961b-dc39101785a7</string>
				<key>name</key>
				<string>Portal3duTypeAdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R728VT7UHH</string>
				<key>name</key>
				<string>Hien Pham</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
